<% include layoutTop %>

<style>
.hidden { display: none;}
.shown { display: inline;}
</style>

<div class="row">
  <div class="twelve columns">
    <h1><%= recipe.name %></h1>
    <h2>Ingredients</h2>
    <p>
      <a id="star" class="hidden" href="#">(*)</a>
      <a id="unstar" class="hidden" href="#">(0)</a>
    </p>
    <p><%- recipe.ingredients %></p>
    <h2>Directions</h2>
    <p><%- recipe.directions %></p>
    <% if(recipe.notes) { %>
      <h2>Notes</h2>
      <p><%- recipe.notes %></p>
    <% } %>
  </div>

  <div class="four columns">
    <form name="input", action="<%= recipe.linkEdit %>", method="get">
      <input type="submit" class="button" name = "edit" value="Edit" />
    </form>
  </div>

  <div class="four columns">
  </div>

  <div class="four columns">
  </div>
</div>

<% include layoutBottom %>

<script type="text/javascript">

$(function() {

    var showStar = function() {
      $('#star').show();
      $('#unstar').hide();
    };

    var hideStar = function() {
      $('#star').hide();
      $('#unstar').show();
    };

    var starRecipe = function() {
      var url = '<%= recipe.link %>/star';
      $.get(url, function(data) {
        if(data.starred === true) {
          showStar();
        }
      });
    };

    var unstarRecipe = function() {
      var url = '<%= recipe.link %>/unstar';
      $.get(url, function(data) {
        if(data.starred === false) {
          hideStar();
        }
      });
    };

    $('#star').click(function() {
      unstarRecipe();
      return false;      
    });

    $('#unstar').click(function() {
      starRecipe();
      return false;      
    });

    <% if(recipe.isStarred === true) { %> 
      showStar(); 
    <% } else { %>
      hideStar();
    <% } %> 

});


</script>

