<% include layoutTop %>

<div class="row">
  <div class="twelve columns">

    <form name="input", action="<%= recipe.postUrl %>", method="post">
    <fieldset>
      <p>
      <label>Name</label> 
      <input type="text" name="name" value="<%= recipe.name %>" placeholder="Recipe name" />
      <% if(2 === 1) { %>
        <small class="error">Enter a name for the recipe.</small>
      <% } %>
      </p>

      <p>
      <label>Ingredients<label> 
      <textarea name="ingredients", rows="10", cols="60" 
      placeholder="Enter ingredients here"><%= recipe.ingredients %></textarea>
      <% if(2 === 1) { %>
        <small class="error">Enter the ingredients for the recipe.</small>
      <% } %>
      </p>

      <p>
      <label>Directions<label> 
      <textarea name="directions", rows="10", cols="60" 
      placeholder="Enter directions here"><%= recipe.directions %></textarea>
      <% if(2 === 1) { %>
        <small class="error">Enter the directions for the recipe.</small>
      <% } %>
      </p>

      <p>
      <label>Notes<label> 
      <textarea name="notes", rows="10", cols="60" 
      placeholder="Enter notes here"><%= recipe.notes %></textarea>
      </p>

      <p>
      <input type="submit" class="button" name = "save" value="Save" />
      </p>

      <p>ID <%= recipe.key %> <p/>

    </fieldset>
    </form>

  </div>

</div>





